<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <title>RMS</title>
    <link href="/assets/rms.less" rel="stylesheet/less"/>
  </head>
  <body style="display: none">
    <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
          <a class="brand" href="#">RMS<sup>dev</sup></a> 
          <ul class="nav"> 
            <li class="active"><a href="#">Assets</a></li> 
            <li><a href="#php">PHP</a></li> 
            <li><a href="#image">Image</a></li> 
            <li class="user"><a href="#user">wenhe</a></li>
          </ul> 
          <ul class="user"> 
            <li><a href="#user">wenhe</a></li>
          </ul> 
        </div> 
      </div> 
    </div>

    <div class="container">
      <div class="app-title">
        <h2>Assets / detail</h2>
        <a href="#config" class="btn log">查看日志</a>
      </div>
    <pre>&lt;div class="fill"&gt;
  &lt;div class="container"&gt; 
    &lt;a class="brand" href="#"&gt;RMS&lt;sup&gt;dev&lt;/sup&gt;&lt;/a&gt; 
    &lt;ul class="nav"&gt; 
      &lt;li class="active"&gt;&lt;a href="#"&gt;Assets&lt;/a&gt;&lt;/li&gt; 
      &lt;li&gt;&lt;a href="#php"&gt;PHP&lt;/a&gt;&lt;/li&gt; 
      &lt;li&gt;&lt;a href="#image"&gt;Image&lt;/a&gt;&lt;/li&gt; 
    &lt;/ul&gt; 
  &lt;/div&gt; 
&lt;/div&gt;</pre>
    </div>
  <script src="http://a.tbcdn.cn/libs/seajs/1.0.2/sea.js" data-main="./assets/init"></script>
  </body>
</html>

