{{> header}}
<div class="app-title page-header">
  <h2>
    <a href="/{{apptype-href}}">{{apptype-name}}</a> / 
    <a href="/{{apptype-href}}/{{app-name}}">{{app-name}}</a>
  </h2>
  {{#app-name}}<a href="/{{apptype-href}}/{{app-name}}/log" class="btn log">查看日志</a>{{/app-name}}
</div>

{{#app-name}}

{{! 新建应用}}
{{#newapp}}
{{> newapp}}
{{/newapp}}

{{! 应用Detail}}
{{^newapp}}
{{> detail}}
{{/newapp}}

{{/app-name}}

{{! 应用列表 }}
{{^app-name}}
{{> list}}
{{/app-name}}

{{> footer}}
