<div class="app-list">
<ul>
{{#list}}
  <li>
    <h4><a href="/{{apptype-href}}/{{app-name}}">{{app-name}}</a><span class="label">{{app-version}}</span></h4>
    <p><a href="{{app-svnroot}}" target="_blank">{{app-svnroot}}</a></p>
  </li>
{{/list}}
</ul>
</div>
