{{#message}}
<div class="alert-message {{type}}">
  <a class="close" href="#">×</a>
  <p>{{text}}</p>
</div>
{{/message}}
<form>
<div class="clearfix">
  <label for="appname">应用名称</label>
  <div class="input">
    <input class="span2" id="appname" name="appname" size="30" type="text">
  </div>
</div>

<div class="clearfix">
  <label for="svnroot">SVN根路径</label>
  <div class="input">
    <input class="span8" id="svnroot" name="svnroot" size="30" type="text">
  </div>
</div>

<div class="clearfix">
  <label for="apptype">应用类型</label>
  <div class="input">
    <select class="small" name="apptype" id="apptype">
      {{#apptypes}}<option value="{{value}}" {{#active}}selected{{/active}}>{{name}}</option>{{/apptypes}}
    </select>
  </div>
</div>

<div class="actions">
  <input type="submit" class="btn primary" value="添加应用">
  <button type="reset" class="btn">取消</button>
</div>
</form>
