<div id="confirm" class="modal fade hide">
<form type="post" action="/publish">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>发布确认 - {{pubtype}}</h3>
  </div>
  <div class="modal-body">
  {{#publist}}<input value="{{filename}}{{#dir}}/{{/dir}}|{{revision}}" type="hidden" name="publist" />{{/publist}}
  <table id="publist">
  <tbody>
    {{#publist}}
      <tr>
        <td class="revision"><span class="label important">{{revision}}</span></td>
        <td><strong>{{filename}}{{#dir}}/{{/dir}}</strong></td>
      </tr>
    {{/publist}}
  </tbody>
  </table>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn primary" value="确认发布" />
    <select name="compressor">
      <option value="0">不压缩</option>
      {{#compressor}}
      <option value="{{id}}">{{name}}</option>
      {{/compressor}}
    </select>
    {{#timeout}}
    <input type="time" name="timeout" />
    {{/timeout}}
  </div>
</form>
</div>
