<form method="post" action="/{{apptype-href}}/{{app-name}}/confirm/">
<div class="app-oper" data-filename="{{prefix}}" data-appname="{{app-name}}" data-apptype="{{apptype-href}}" data-revision="{{#svn}}{{rev}}{{/svn}}">
  <select id="pubtype" name="type">
    <option value="pre">预发布</option>
    <option value="beta">Beta发布</option>
    <option value="formal">正式发布</option>
  </select>
  <input class="btn primary" type="submit" value="发布" />
</div>
<div class="app-list">
  <h3>
  <ul class="breadcrumb">
    <li><a href="/{{apptype-href}}/{{app-name}}/">{{app-name}}</a> <span class="divider">/</span></li>
    {{#pathes}}
    <li><a href="/{{apptype-href}}/{{app-name}}/show/{{href}}/">{{name}}</a> <span class="divider">/</span></li>
    {{/pathes}}
    <li class="active">{{app-filename}}</li>
  </ul>
  </h3>
  {{#file}}{{>file}}{{/file}}
  {{#dir}}{{>dir}}{{/dir}}
</div>
</form>
