<form method="post" action="/{{apptype-href}}/{{app-name}}/confirm/">
<div class="app-oper pubbtns" data-filename="{{prefix}}" data-appname="{{app-name}}" data-apptype="{{apptype-href}}" data-revision="{{#svn}}{{rev}}{{/svn}}">
  <div id="viewlog">
    <a href="/{{apptype-href}}/{{app-name}}/publog/" class="btn info">查看日志</a>
  </div>
  <div id="pubbtns">
    <select id="pubtype" name="type">
    {{#pubtypes}}
      <option value="{{key}}">{{text}}</option>
    {{/pubtypes}}
    </select>
    <input class="btn primary" type="submit" value="发布" />
  </div>
</div>
<div class="app-list">
  <h3>
  <ul class="breadcrumb">
    <li><a href="/{{apptype-href}}/{{app-name}}/">{{app-name}}</a> <span class="divider">/</span></li>
    {{#pathes}}
    <li><a href="/{{apptype-href}}/{{app-name}}/show/{{href}}/">{{name}}</a> <span class="divider">/</span></li>
    {{/pathes}}
    <li class="active">{{app-filename}}</li>
  </ul>
  </h3>
  {{#file}}{{>file}}{{/file}}
  {{#dir}}{{>dir}}{{/dir}}
</div>
</form>
