<table class="zebra-striped" id="directory">
  <thead>
    <tr>
      <th class="select"><input type="checkbox" class="select-all"/></th>
      <th class="filename">文件名</th>
      <th class="version">最新版本号</th>
      <th class="version">发布版本号</th>
    </tr>
  </thead>
  <tbody>
    {{#list}}
    <tr{{#dir}} class="dir"{{/dir}}>
      <td><input type="checkbox" name="publish" class="publish" data-path="{{name}}{{#dir}}/{{/dir}}" data-revision="{{#commit}}{{revision}}{{/commit}}"/></td>
      <td><a href="/{{apptype-href}}/{{app-name}}/show/{{prefix}}{{name}}{{#dir}}/{{/dir}}">{{name}}{{#dir}}/{{/dir}}</a></td>
      <td>{{#commit}}{{revision}}{{/commit}}</td>
      <td>{{last-version}}</td>
    </tr>
    {{/list}}
  </tbody>
</table>
