<div class="app-file">
{{#txt}}
<pre class="prettyprint linenums">
{{svn}}
</pre>
{{/txt}}
{{#preview-unsupported}}
<pre class="prettyprint linenums">
暂不支持该文件类型预览. {{app-fileextend}}
</pre>
{{/preview-unsupported}}
</div>
