<div class="app-file">
{{#txt}}
<pre class="prettyprint linenums">
{{svn}}
</pre>
{{/txt}}
{{#img}}
<div class="image-preview"><img src="data:image/gif;base64,{{svn}}" /></div>
{{/img}}
{{#preview-unsupported}}
<pre class="prettyprint linenums">
暂不支持该文件类型预览. {{app-fileextend}}
</pre>
{{/preview-unsupported}}
</div>
