      <footer>
      RMS<sup>dev</sup><br/><span class="label">{{hostname}}</span>
      </footer>
    </div>
  <div id="modal"></div>
  <script src="http://a.tbcdn.cn/libs/seajs/1.0.2/sea.js" data-main="/assets/js/init"></script>
  </body>
</html>
