<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <title>RMS{{#title}} - {{title}}{{/title}}</title>
    <link href="/assets/rms.less" rel="stylesheet/less"/>
    <link rel="shortcut icon" href="http://a.tbcdn.cn/app/tms/favicon.ico" type="image/x-icon" />
  </head>
  <body style="opacity: 0">
    <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
          <a class="brand" href="/">RMS<sup>dev</sup></a> 
          <ul class="nav"> 
          {{#apps}}
            <li{{#active}} class="active"{{/active}}><a href="/{{href}}">{{name}}</a></li> 
          {{/apps}}
          </ul> 
          {{#username}}
          <ul class="nav user"> 
            <li class="dropdown">
              <a href="/user/{{username}}" class="dropdown-toggle">{{username}}</a>
              <ul class="dropdown-menu">
                <a href="/user/{{username}}/settings">配置</a>
                <a href="http://login.taobao.com/member/logout.jhtml?f=top">退出</a>
              </ul>
            </li>
          </ul> 
          {{/username}}
        </div> 
      </div> 
    </div>
    <div class="container">
