<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <title>RMS{{#title}} - {{title}}{{/title}}</title>
    <link href="/assets/rms.less" rel="stylesheet/less"/>
    <link rel="shortcut icon" href="http://a.tbcdn.cn/app/tms/favicon.ico" type="image/x-icon" />
  </head>
  <body style="opacity: 0">
    <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
          <a class="brand" href="/">RMS<sup>dev</sup></a> 
          <ul class="nav {{apptype-href}}"> 
          {{#apps}}
          <li class="{{href}}"><a href="/{{href}}">{{name}}</a></li> 
          {{/apps}}
          </ul> 
          {{#user}}
          <ul class="nav user"> 
            {{#isroot}}
            {{#app-detail}}
            <li>
              <a href="/{{apptype-href}}/{{app-name}}/admin">应用配置</a>
            </li>
            {{/app-detail}}
            {{/isroot}}
            <li class="dropdown">
              <a href="/user/{{name}}" class="dropdown-toggle">{{name}}</a>
              <ul class="dropdown-menu">
                <a href="/user/{{name}}/settings">配置</a>
                <a href="http://login.taobao.com/member/logout.jhtml?f=top">退出</a>
              </ul>
            </li>
          </ul> 
          {{/user}}
        </div> 
      </div> 
    </div>
    <div class="container">
