{{> header}}

{{#publish}}
{{> publish}}
{{/publish}}

{{#home}}
{{> home}}
{{/home}}

{{#admin}}
{{> admin}}
{{/admin}}

{{#role}}
{{> role}}
{{/role}}

{{#newapp}}
  {{> newapp}}
{{/newapp}}

{{#detail}}
  {{> detail}}
{{/detail}}

{{#applist}}
  {{> applist}}
{{/applist}}

{{#publog}}
  {{> publog}}
{{/publog}}

{{> footer}}
