<div class="alert-message block-message info" id="processbar" data-href="http://rms.taobao.com:8088/status/{{ids}}?callback=define" data-max="880">
  {{#filelist}}
  <div id="{{id}}">
    <pre>{{path}}</pre>
    <div class="bar alert-message info"></div>
    <p class="message"></p>
  </div>
  {{/filelist}}
</div>
{{#content}}<pre>{{content}}</pre>{{/content}}
