<div class="app-oper pubbtns">
  <div id="viewlog">
    <a href="/{{apptype-href}}/{{app-name}}/publog/" class="btn info">查看日志</a>
  </div>
</div>
{{#message}}<div class="bar alert-message warn">{{message}}</div>{{/message}}
<div class="alert-message block-message info" id="processbar" data-href="http://rms.taobao.com:9909/status/{{operId}}?callback=define" data-max="880">
  <h3>{{#pubtype}}{{text}}{{/pubtype}}</h3>
  <p>{{#time}}<span class="label success" id="start">{{start}}</span> → <span class="label success" id="end">{{end}}{{/time}}</span></p>
  <div id="status">
    <div class="bar alert-message info"></div>
    <p class="message"></p>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th width=80>发布版本</th>
      <th>发布文件</th>
    </tr>
  </thead>
  <tbody>
    {{#filelist}}
    <tr>
      <td>{{rev}}</td>
      <td>{{path}}</td>
    </tr>
    {{/filelist}}
  </tbody>
</table>
{{#content}}<pre>{{content}}</pre>{{/content}}
